.CoinDetail {
text-align: center;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

h1 {
  color: white;
  font-family: abolition, sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  color: white;
}

form {
  display: flex;
  color: white;
}

}

.Charts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

