.SearchForm {
  position: fixed;
  width: 20%;
  height: 20%;
  top: 16%;
  left: 12%;

}

@media (max-width: 800px) {
  .SearchForm {
   top: 3%;
   left: 65%;
   z-index: 1;
  }
}

@media (max-width: 500px) {
  .SearchForm {
    top: 1.8%;
    width: 10%;
    left: 56%;
    z-index: 1;

    .SearchButton {
      position: fixed;
      top: .85%;
      right: 0;
    }
  }
}