body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: relative;
  background-color: #272D36;
}

.Header {
  display: flex;
  position: absolute;
  top: 15%;
  left: 42%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #6CB2BA;
 
  margin: 0;

  h1 {
    margin: 0px;
    letter-spacing: .55em;
  }

}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 25%;
  top: 50%;

  a {
    color: #6CB2BA;
  }

  a:link {
    text-decoration: none;
    cursor: pointer;
    background-color: #43484F;
    border-radius: 3em;
    width: 6vw;
    text-align: center;
  }

  span {
    color: white;
    margin: 10px;
  }
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    background-color: #ACDEE3;
    margin: 1em;
    width: 20vw;
    height: 5vh;
    border-radius: .5em;
    border: 2px solid black;
  }

  input::placeholder {
    color: #BF60A5;
  }

  button {
    width: 7vw;
    height: 5vh;
    background-color: #6CB2BA;
    color: white;
    border-radius: 1em;
    border: .5px solid black;
    cursor: pointer;
  }
  
}

@media (max-width: 900px) {
  .Header {
    left: 35%;
    top: 15%;
  }

  .Container {
    width: 50vw;
    height: 50vh;
    left: 25%;
    top: 50%;
    
    a:link {
      width: 10vw;
    }
  }

  .Form {
    input {
      width: 25vw;
      height: 5vh;
    }
    button {
      width: 10vw;
      height: 5vh;
    }
  }

}

@media (max-width: 600px) {
.Header {
  left: 30%;
}
}

@media (max-width: 375px) {

  .Header {
    left: 18%;
  }

  .Container {
    width: 50vw;
    height: 50vh;
    left: 25%;
    top: 50%;
  
    a:link {
      width: 20vw;
    }
  }

  .Form {
    
    input {
      width: 55vw;
      height: 5vh;
    }
  
    button {
      width: 20vw;
      height: 5vh;
    }

  }

}