.TransactionForm {
  background-color: #ACDEE3;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
  height: 38%;
  width: 50%;
  left: 27.75%;

  label {
    margin: 10px;
  
    input {
      margin: 10px;
    }
  }
}

@media (max-width: 500px) {

  .TransactionForm {
    height: 40%;
    width: 90%;
    left: 0%;

  }
}