.CoinList {
  position: relative;
  top: 40%;
  left: 15%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0;

  a {
    text-decoration: none;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  a:visited {
    color: none;
  }

  li {
    position: relative;
    background-color: #ACDEE3;
    margin: 0px;
    padding: 10px;
    height: 12vh;
    border-radius: .3em;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease-in-out;
    border: solid thin black;

    img {
      width: 20%;
      height: 100%;
      border-radius: .5em;
    }

    p {
      color: black;
      font-family: abolition, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .Name {
      left: 0;
      font-size: 20pt;
      letter-spacing: .5em;
      font-weight: bold;
    }

    .Change {
      font-size: 10pt;
    }

  }

  li:hover {
    transform: translateY(-0.2em);
    cursor: pointer;
    box-shadow: .5px .5px 35px 1px white;
  }
}


@media (max-width: 800px) {

  .CoinList {
    top: 40%;
    left: 0%;
    width: 80%;

    li {
      height: 10vh;
    }
  }
}

@media (max-width: 500px) {

  .CoinList {
    top: 40%;
    left: 0%;
    width: 80%;

    li {
      height: 5vh;
      border-radius: .75em;

      img{
        width: 15%;
      }

      p {
        font-size: 5pt;
      }
      
      .Change {
        font-size: 5pt;
      }
    }
  }
}
